body {
  margin: 0;
  padding: 0;
}

.top {
  width: 100%;
  height: 90px;
  background-color: #8242c2;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
.mainnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-right: 150px;
  margin-left: 50px;
}

.topLeft,
.topRight,
.topCenter {
  text-align: center;
  display: flex;
  align-items: center;
}

.topLeft {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 2em;
  margin-left: 50px;
  white-space: nowrap;
  text-decoration: none;
  color: white;
}

.topCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.topRight {
  justify-content: right;
  margin-right: 50px;
}

.topLeft,
.topRight {
  background-color: #8242c2;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  display: none;
  align-items: center;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 75px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  font-family: "Roboto", sans-serif;
}
.topListItem:hover {
  color: rgb(251, 221, 241);
}

@media screen and (max-width: 1127px) {
  body {
    overflow-x: hidden;
  }

  .topIcon {
    display: block;
  }
  .top {
    justify-content: space-between;
  }

  .topListItem {
    color: black;
    font-size: 35px;
    padding-top: 20px;
  }

  .topList {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    width: 100%;
    top: 90px;
    background-color: #d8bfff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .active {
    transform: translateX(0%);
  }

  .topLeft {
    margin-left: 50px;
  }
}
.account {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  color: white;
}
.accountchild {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}
@media screen and (max-width: 1127px) {
  .account {
    display: none;
  }
}
